.comment-component {
  animation-name: showComment;
  animation-duration: .25s;
  &.hide {
    animation-name: hideComment;
    animation-duration: .5s;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  position: absolute;
  .number {
    display: block;
    width: 25px;
    height: 25px;
    background: darkred;
    color: white;
    font-size: .85em;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
  }
  .commentBox {
    z-index: 0;
    border: 1px solid lightgray;
    padding: 10px;
    background: transparentize(white,.05);
    max-width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
    width: 240px;
    position: absolute;
    top: 18px;
    left: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    .datetime {
      font-size: .75em;
      color: lightslategray;
    }
    .comment {
      color: lightslategray;
      font-size: 1em;
      padding-top: 5px;
      max-height: 240px;
      overflow: auto;
      padding-bottom: 5px;
    }
  }

  .form {
    border-top: 1px solid #eeeeee;
    &.accepted {
      height: 50px;
    }
    &__message {
      text-align: center;
      padding: 15px;
      font-style: italic;
      color: lightslategray;
    }
    &__btns {
      text-align: right;
    }
    &__btn {
      border: 1px solid #eeeeee;
      background: white;
      padding: 2px 15px;
      margin-bottom:6px;
      margin-left: 4px;
      border-radius:2px;
      color: lightslategray;
      cursor: pointer;
      transition: .25s;
      &:hover {
        background: #eeeeee;
      }
      &.red {
        background-color: darkred;
        color: white;
        border-color: darkred;
      }
      &.green {
        background: cornflowerblue;
        color: white;
        border-color: cornflowerblue;
      }
    }
    textarea {
      width: 218px;
      height: 80px;
      font-family: 'Hind', sans-serif;
      padding:5px 0 0 0;
      border-width: 0;
      border-style: solid;
      border-color: lightgray;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 1em;
      color: darkslategray;
      margin-bottom: 0;
      line-height:1.5em;
      background: transparent;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: lightgray;
      }
    }
  }
}

@keyframes showComment {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideComment {
  0% {
    opacity: 1;
    width: auto;
    height: auto;
    overflow: visible;
  }
  99% {
    opacity: 0;
    width: auto;
    height: auto;
    overflow: visible;
  }
  100% {
    opacity: 0.5;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
