.frame-component {
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
