.frame-component {
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  &__versionIndicator {
    background: transparentize(white,.1);
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    z-index: 99;
    position: absolute;
    transition: .5s;
    top: 0;
    left: 0;
    color: lightslategray;
    font-size: 5vh;
    animation-name: versionIndicator;
    animation-duration: 5s;
    filter: blur(0);
    opacity: .25;
    line-height: .75em;
    padding: 0px 15px 15px 5px;
    border-radius: 0 0 150px 0;
    div {
      font-size: 1.5vh;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

@keyframes versionIndicator {
  0% {
    filter: blur(30px);
    z-index: 140;
    opacity: 0;
  }
  10% {
    filter: blur(30px);
    z-index: 140;
    opacity: 0;
  }
  20% {
    filter: blur(0);
    z-index: 140;
    opacity: .5;
    color: white;
  }
  30% {
    z-index: 140;
    opacity: .35;
    color: lightslategray;
  }
  40% {
    z-index: 140;
    opacity: .5;
    color: white;
  }
  50% {
    z-index: 140;
    opacity: .35;
    color: lightslategray;
  }
  60% {
    z-index: 140;
    opacity: .5;
    color: white;
  }
  100% {
    z-index: 99;
    opacity: .25;
    color: lightslategray;
  }
}
