.login-component {
  position: absolute;
  max-width: 320px;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  opacity: 1;
  animation-name: showLogin;
  animation-duration: 1s;
  h1 {
    font-size: .75em;
    color: lightblue;
    margin-bottom: 10px;
  }
  label {
    font-size: .75em;
    color: lightgray;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  input[type="text"],input[type="password"] {
    padding: 5px 0;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: dashed;
    width: 100%;
    font-size: 2em;
    color: lightslategray;
    background: white;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    line-height: 1;
    &:focus {
      outline: none;
    }
  }
  .submit {
    text-align: right;
    margin-top: 20px;
  }
  input[type="submit"] {
    border: 1px solid lightgray;
    background: white;
    padding: 5px 15px;
    font-size: .75em;
    color: lightslategray;
    border-radius: 2px;
    cursor: pointer;
  }
  .info {
    font-size: .75em;
    margin-top: -20px;
    color: lightslategray;
    height: 20px;
  }
}
@keyframes showLogin {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
