.messageswindow-component {
  position: absolute;
  max-width: 640px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 640px;
  padding: 10px;

  &__wrapper {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparentize(lightslategray,.25);
    z-index: 600;
    height: 100%;
    padding: 10px;
    opacity: 1;
    animation-name: showMessage;
    animation-duration: .2s;
    transition: .1s ease-out;
    &.hide {
      opacity: 0;
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url('/static/images/icons_bg.svg');
    background-position: -100px -100px;
    cursor: pointer;
    z-index: 10;
  }
  &__content {
    border: 1px solid lightslategray;
    box-shadow: 0 2px 0 transparentize(lightslategray,.5);
    background-color: white;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    .title {
      font-size: 1rem;
      color: cornflowerblue;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      height: 15px;
    }
    .messages {
      position: absolute;
      top: 40px;
      right: 15px;
      bottom: 150px;
      left: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      .messagesInfo {
        font-weight: 600;
        color: lightgray;
        margin-top: 20px;
        text-align: center;
      }
      &.accepted {
        bottom: 50px;
      }
      .message {
        &:first-child {
          border-top: none;
        }
        padding: 15px 0;
        //border-top: 1px dotted lightgray;
        position: relative;
        margin-top: 15px;
        line-height: 1.5em;
        .typeMessageIcon {
          background-image: url('/static/images/icons_bg.svg');
          width: 25px;
          height: 25px;
          display: block;
          position: absolute;
          top: 10px;
        }
        &:first-child {
          margin-top: 0;
        }
        &.client {
          .typeMessageIcon {
            background-position: -100px -150px
          }
          margin-right: 30px;
        }
        &.designer {
          .typeMessageIcon {
            background-position: -125px -150px
          }
          margin-left: 30px;
        }
        &.accept {
          font-size: 1em;
          .typeMessageIcon {
            background-position: -100px -150px
          }
          .info {
            color: white;
            font-weight: 600;
            background: green;
            font-size: 1em;
            padding: 2px 8px;
            text-align: center;
            margin: 10px 0 5px;
          }
        }
      }
      .date {
        font-size: .85em;
        color: lightgray;
        padding-left: 30px;
      }
      .content {
        color: darkslategray;
        font-size: 1em;
        padding-right:10px;
      }
    }
    .form {
      position: absolute;
      bottom: 0;
      border-top: 1px solid #eeeeee;
      left: 15px;
      right: 15px;
      height: 150px;
      box-shadow: 0 -16px 16px -16px transparentize(lightgray,.5);
      &.accepted {
        height: 50px;
      }
      &__message {
        text-align: center;
        padding: 15px;
        font-style: italic;
        color: lightslategray;
      }
      &__btns {
        text-align: right;
      }
      &__btn {
        border: 1px solid #eeeeee;
        background: white;
        padding: 8px 15px 4px;
        margin-bottom:6px;
        border-radius:2px;
        color: lightslategray;
        cursor: pointer;
        transition: .25s;
        font-family: 'Hind', sans-serif;
        line-height: 1em;
        &:hover {
          background: #eeeeee;
        }
        &.success {
          background: cornflowerblue;
          color: white;
          border-color: cornflowerblue;
          &:hover {
            background: darken(cornflowerblue,8);
            border-color: darken(cornflowerblue,8);
            color: white;
          }
        }
        &.big {
          font-size: 1em;
          padding: 10px 20px 6px
        }
      }
      textarea {
        width: 100%;
        height: 50px;
        font-family: 'Hind', sans-serif;
        border-width: 1px;
        border-style: solid;
        border-color: #eeeeee;
        padding: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top:10px;
        font-size: 1em;
        color: darkslategray;
        margin-bottom: 10px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: lightgray;
        }
      }
    }
  }
}
@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}
