.navigation-component {
  background: transparentize(#fff,.15);
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10;
  li {
    display: inline-block;
    padding: 1px 3px;
  }


}
