.navigation-component {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 500;
  &:hover {
    .navigation-component__list {
      height: 240px;
    }
    .navigation-component__listElem {
      opacity: 1;
      &:first-child {
        margin-top: 10px;
      }
      &:nth-child(2) {
        margin-top: 10px;
      }
      &:nth-child(3) {
        margin-top: 10px;
      }
    }
  }
  &__list {
    z-index: 0;
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 50px;
    transition: .5s ease-in-out
    //height: 50px;
  }
  &__listElem {
    opacity: 0;
    transition: .5s ease-in-out;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-top: -50px;
    }
    &:nth-child(3) {
      margin-top: -50px;
    }
    &:hover {
      .navigation-component__submenu {
        padding: 15px 15px;
        width: 240px;
        opacity: 1;
        border-width: 1px;
      }
      .hasSubmenu {
        &:after {
          opacity: 1;
          transition: .5s;

        }
        &:before {
          opacity: 1;
          transition: .5s;
        }
      }
    }
  }

  &__btn {
    margin: 0 10px;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 40px;
    display: block;
    -webkit-box-shadow: 0 3px 0 transparentize(black, .85);
    -moz-box-shadow: 0 3px 0 transparentize(black, .85);
    box-shadow: 0 3px 0 transparentize(black, .85);
    background-image: url('/static/images/icons_bg.svg');
    border: 1px solid transparentize(black, .85);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: .25s ease-in-out;
    &.hasSubmenu {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 11px solid white;
        display: block;
        margin-top:15px;
        left: -1px;
        position: absolute;
        z-index:1;
        opacity: 0;
        transition: .15s ease;
      }
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid transparentize(black, .85);
        display: block;
        margin-top:14px;
        left: -1px;
        position: absolute;
        z-index:1;
        opacity: 0;
        transition: .15s ease;
      }

    }
    &:hover {
      background-color: lightslategray;

    }
  }
  &__btnMenu {
    margin: 10px;
    background-position: 0 50px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    &Wrapper {
      width: 50px;
      height: 50px;
      padding: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }
  &__btnPages {
    background-position: 0 100px;
  }
  &__btnFeedback {
    background-position: 0 150px;
  }
  &__btnSettings {
    background-position: 0 200px;
  }
  &__btnMessages {
    background-position: -100px -50px;
    cursor: pointer;
    &:hover {
      background-color: cornflowerblue;
    }
  }
  &__btnComments {
    background-position: -100px 0;
    cursor: pointer;
    &:hover {
      background-color: cornflowerblue;
    }
  }

  &__submenu {
    position: absolute;
    padding: 15px 0;
    top: 10px;
    right: 70px;
    bottom: 0;
    width: 0;
    transition: .25s ease-in-out;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    -webkit-box-shadow: 0 3px 0 transparentize(black, .85);
    -moz-box-shadow: 0 3px 0 transparentize(black, .85);
    box-shadow: 0 3px 0 transparentize(black, .85);
    border: 0px solid transparentize(black, .85);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h2 {
      font-size: .75em;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid transparentize(black, .85);
      text-transform: uppercase;
      color: lightslategray;
      &.no-border {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  &__pages {
    position: absolute;
    top: 38px;
    bottom: 15px;
    width: 210px;
    left: 15px;
    overflow: auto;
    li {
      a {
        display: block;
        padding:10px 5px;
        background-color: white;
        transition: .15s;
        color: darkslategray;
        &.active {
          background-color: cornflowerblue;
          color: white;
        }
        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }
  &__versions {
    position:absolute;
    bottom: 0;
    width: 210px;
    left: 15px;
    border-top: 1px solid transparentize(black, .85);
    padding-top: 0;
    span {
      border: 1px solid transparentize(black, .85);
      font-size: 1rem;
      display: inline-block;
      padding: 12px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      height: 12px;
      width: 12px;
      margin: 4px 0px 4px 10px;
      cursor: pointer;
      transition: .1s;
      background-color: white;
      font-width: bold;
      &:hover {
        background-color: lightgrey;
      }
      &.active {
        background-color: cornflowerblue;
        color: white;
      }
    }
  }

  &__autoMode {
    position:absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    border-top: 1px solid transparentize(black, .85);
    padding-top: 15px;
    padding-bottom: 15px;
    span {
      padding: 15px 0 15px 15px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      transition: .1s;
      background-color: white;
      &.on {
        &:before {
          background-position: -50px -154px;
        }
      }
      &:before {
        content: "";
        width: 50px;
        height: 42px;
        position: absolute;
        right: 25px;
        top: 0;
        margin:0;
        background-image: url('/static/images/icons_bg.svg');
        background-position: -50px -104px;
      }
    }
  }

  &__options {
    position: absolute;
    top: 38px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 42px;
    left: 15px;
    right: 15px;
    .option {
      padding: 8px 0;
      border-top: 1px dotted lightgrey;
      width: 200px;
      &:first-child {
        border-top: none;
      }
      .label {
        float: left;
        width: 100px;
        font-size: .75em;
        color: lightslategray;
        text-transform: uppercase;
        padding-top: 8px;
      }
      .list {
        float: left;
        width: 100px;
        ul {
          li {
            span {
              display: inline-block;
              padding:8px 5px;
              background-color: white;
              transition: .15s;
              color: darkslategray;
              cursor: pointer;
              &.active {
                background-color: cornflowerblue;
                color: white;
              }
              &:hover {
                background-color: lightgrey;
              }
            }
          }
        }
        .colors {
          span {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-right: 10px;
            margin-bottom: 8px;
            border: 1px solid lightgrey;
          }
        }
        .images {
          border-top: 1px dotted #eeeeee;
          span {
            display: inline-block;
          }
        }
        .zoom {
          span {
            display: inline-block;
            height: 32px;
            width: 32px;
            background-image: url('/static/images/icons_bg.svg');
            cursor: pointer;
          }
          .zoom_minus {
            background-position: 90px -10px;
          }
          .zoom_reset {
            background-position: -10px -10px;
          }
          .zoom_plus {
            background-position: 90px -60px;
          }


        }
        .splitScreen {
          padding: 4px;
          span {
            padding: 4px;
            position: relative;
            cursor: pointer;
            transition: .1s;
            background-color: white;
            font-size: .75em;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: lightslategray;
            width: 54px;
            display: inline-block;
            text-align: right;
            &.on {
              &:before {
                background-position: -50px -154px;
              }
            }
            &:before {
              content: "";
              width: 50px;
              height: 42px;
              position: absolute;
              right: 30px;
              top: -12px;
              margin: 0;
              background-image: url('/static/images/icons_bg.svg');
              background-position: -50px -104px;
            }
          }
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .hasSubList {
    .navigation-component__btn {
      z-index:1 ;
      position: relative;
    }
    &:hover {
      li {

        transition: .5s ease-in;
        &:first-child {
          right: 60px;
          opacity: 1;
        }
        &:nth-child(2) {
          right: 120px;
          opacity: 1;
        }
      }
    }
    .navigation-component__subList {
      position: absolute;
      z-index: 0;
      top: 10px;
      right: 0;

      li {
        transition: .25s ease-out;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
